@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models
@model List<Park>



@foreach (Park park in Model)
{
    <a href=@Url.Action("Detail", "Home", new { id = park.ParkCode })>
        <section class="preview">
            <div class="deets">
                <img src="~/Content/Images/Parks/@(park.ParkCode.ToLower()).jpg" />
                <div class="description">
                    <h1>@park.ParkName</h1>
                    <h2>@park.ParkDescription</h2>
                </div>
            </div>
        </section>
    </a>
}


